<table mat-table [dataSource]="currentlyDisplayedTable$" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Image Column -->
  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef> Image</th>
    <td mat-cell *matCellDef="let element"> <img [src]="element.image"/></td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Position </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Num of Data Points Column -->
  <ng-container matColumnDef="numOfDataPoints">
    <th mat-header-cell *matHeaderCellDef> # Of Data Points </th>
    <td mat-cell *matCellDef="let element"> {{element.numOfDataPoints}} </td>
  </ng-container>

  <!-- Actual Points Column -->
  <ng-container matColumnDef="actualPoints">
    <th mat-header-cell *matHeaderCellDef> Actual Points </th>
    <td mat-cell *matCellDef="let element"> {{element.actualPoints}} </td>
  </ng-container>

  <!-- Projected Points Column -->
  <ng-container matColumnDef="projectedPoints">
    <th mat-header-cell *matHeaderCellDef> Projected Points </th>
    <td mat-cell *matCellDef="let element"> {{element.projectedPoints}} </td>
  </ng-container>

  <!-- Projected Points Column -->
  <ng-container matColumnDef="sentiment">
    <th mat-header-cell *matHeaderCellDef> Sentiment </th>
    <td mat-cell *matCellDef="let element"> {{element.sentiment}} </td>
  </ng-container>

  <!-- Most Positive Comment Column -->
  <ng-container matColumnDef="mostPositiveComment">
    <th mat-header-cell *matHeaderCellDef> Most Positive Comment </th>
    <td mat-cell *matCellDef="let element"> {{element.mostPositiveComment}} </td>
  </ng-container>

  <!-- Most Negative Comment Column -->
  <ng-container matColumnDef="mostNegativeComment">
    <th mat-header-cell *matHeaderCellDef> Most Negative Comment </th>
    <td mat-cell *matCellDef="let element"> {{element.mostNegativeComment}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator #paginator
    class="paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="1"
    [disabled]="false"
    [showFirstLastButtons]="false"
    [hidePageSize]="true"
    [pageIndex]="pageIndex"
    aria-label="Select page">
</mat-paginator>